body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #BDE3FF;
  }
  
  .header {
    margin-bottom: 2%;
    text-align: center;
    color: #BDE3FF;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    font-size: xx-large;
  }

  .container-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

  .container {
    text-align: center;
  }
  
  h2{
    color: white;
    font-size: xxx-large;
  }

  .box {
    width: 400px;
    height: 180px;
    border: 2px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
    background-color: #000000;
    color: white;
  }
  
  button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #000000;
    color: white;
  }
  